body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start */
    height: 100dvh;
    margin: 0;
}

.container {
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* Añadido para asegurar contraste */
    overflow-y: auto; /* Añadido para permitir el desplazamiento si es necesario */
    max-height: 90vh; /* Para asegurar que no se salga de la vista */
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.player-input {
    display: flex;
    flex-direction: column; /* Cambiado a columna para dispositivos móviles */
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], select {
    width: 100%; /* Cambiado a 100% para móviles */
    margin-bottom: 5px; /* Añadido margen inferior para separar los elementos */
    padding: 10px;
    box-sizing: border-box; 
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#teamsOutput {
    display: none;
}

.team {
    margin-bottom: 20px;
}

.team h2 {
    margin-top: 0;
}

.team ul {
    list-style-type: none;
    padding: 0;
}

/* Media Query para pantallas pequeñas */
@media (min-width: 600px) {
    .player-input {
        flex-direction: row; /* Cambiado a fila para pantallas más grandes */
    }

    input[type="text"], input[type="number"], select {
        width: 30%; /* Ajustado a 30% para pantallas más grandes */
    }
}
